<div id="fh5co-page">
    <div id="fh5co-header">
      <header id="fh5co-header-section">
        <div class="container">
          <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <h1 id="fh5co-logo"><a href="/"><img src="media/images/logo.png" alt="Scoop Bar"/></a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
              <ul class="sf-menu" id="fh5co-primary-menu">
                <li class="active">
                  <a href="/" target="_parent">Home</a>
                </li>
                <li>
                  <a class="hollow-button" href="item/1"  target="_parent">Pre-order Now</a>
                </li>
                <li ng-click="scrollToElementById('fh5co-programs-section', 1000)"><a href="">About</a></li>
                <li ng-click="scrollToElementById('footer', 2000)"><a href="">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>   
    </div>
    <!-- end:fh5co-header -->
    <div class="fh5co-hero">
      <div class="fh5co-overlay"></div>
      <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url('https://static.pexels.com/photos/17840/pexels-photo.jpg');">
        <div class="desc animate-box">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h2>Squat <strong>Cleaner</strong> <br> Squat <strong>Better</strong></h2>
                <p><span>The Scoop Bar allows for a more comfortable and ergonmic front and back squat.</span></p>
                <form class="contact-form">
                  <span><a class="btn btn-primary" href="#">Pre-Order Now</a></span>
                  <span ng-click="scrollToElementById('fh5co-programs-section', 1000)"><a class="hollow-button" href="#">Learn More</a></span>
                </form>
              </div>
              <div class="col-md-6">
                <video
                  src="media/videos/scoopbar.mp4"
                  class="scoopbar-video"
                  poster="media/videos/scoopbar_poster.png"
                  play-on-click
                  controls
                ></video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-programs-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 item-image-container">
            <img class="item-image" src="media/images/scoopbar.png" alt="scoop bar item"/>
          </div>
          <div class="col-md-6">
            <div class="heading-section text-center animate-box">
              <h2>What is the Scoop Bar?</h2>
              <p class="pipe-padding">The Scoop Bar is a skillfully designed weight lifting bar ergonomically fit for your safety and efficiency. Our aim is to help those of all strength and abilities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="fh5co-programs-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="heading-section text-center animate-box">
              <h2>Who is the Scoop Bar for?</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 col-sm-6">
            <div class="program animate-box">
              <i class="fas fa-male who-is-icon"></i>
              <h3>People Like This</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="program animate-box">
              <i class="fas fa-male who-is-icon"></i>
              <h3>People Like That</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="program animate-box">
              <i class="fas fa-male who-is-icon"></i>
              <h3>Other Types of People</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="fh5co-team-section" class="fh5co-lightgray-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="heading-section text-center animate-box">
              <h2>Meet The Found and Inventor</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 col-sm-6">
            <div class="team-section-grid animate-box" style="background-image: url('media/images/headshot.png');">
              <div class="overlay-section">
                <div class="desc">
                  <h3>Sean Cooper</h3>
                  <span>Inventor, Personal Trainer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-6">
            <p>
              random text
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-blog-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="heading-section animate-box">
                <h2>Testimonials</h2>
              </div>
            </div>
            <div class="col-md-12 col-md-offset-0">
              <div class="fh5co-blog animate-box">
                <div class="inner-post">
                  <a href="#"><img class="img-responsive" src="https://t3.ftcdn.net/jpg/01/75/97/88/500_F_175978848_qu4EaMTxzs84SFCiWCGkKvDijlJpGspx.jpg" alt=""></a>
                </div>
                <div class="desc">
                  <h3>It was ight...</h3>
                  <span class="posted_by">By: Candice</span>
                  <p>Far far away, behind the word mountains</p>
                </div> 
              </div>
            </div>
            <div class="col-md-12 col-md-offset-0">
              <div class="fh5co-blog animate-box">
                <div class="inner-post">
                  <a href="#"><img class="img-responsive" src="https://t3.ftcdn.net/jpg/00/38/54/34/500_F_38543413_kR2EUlFrzP85PJ0ltAZXoqZfCELA6qDg.jpg" alt=""></a>
                </div>
                <div class="desc">
                  <h3>FUCKING LOVED IT</h3>
                  <span class="posted_by">By: Crossfit Chad</span>
                  <p>Far far away, behind the word mountains</p>
                </div> 
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="heading-section animate-box">
                <h2 class="vis-hidden">Space</h2>
              </div>
            </div>
            <div class="col-md-12 col-md-offset-0">
              <div class="fh5co-blog animate-box">
                <div class="inner-post">
                  <a href="#"><img class="img-responsive" src="https://t4.ftcdn.net/jpg/01/69/71/63/500_F_169716389_QIIeFgdTjTWQg85DwPPHwJVTPj2BuMtA.jpg" alt=""></a>
                </div>
                <div class="desc">
                  <h3>I miss burgers...</h3>
                  <span class="posted_by">By: Ronald</span>
                  <p>Far far away, behind the word mountains</p>
                </div> 
              </div>
            </div>
            <div class="col-md-12 col-md-offset-0">
              <div class="fh5co-blog animate-box">
                <div class="inner-post">
                  <a href="#"><img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSxWB23XhOsJe6-pAtwEQxM6YlmVYE5Bd0XtxEH4k5utKiyiCNOw" alt=""></a>
                </div>
                <div class="desc">
                  <h3>Sure, I'll say something</h3>
                  <span class="posted_by">By: Jane Doe</span>
                  <p>Far far away, behind the word mountains</p>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 animate-box">
              <h3 class="section-title">About Us</h3>
              <p>We believe everyone deserves to feel the pain of leg day. This product lets allows you or your gym members the opportunity to better themselves.</p>
            </div>

            <div class="col-md-4 animate-box">
              <h3 class="section-title">Our Address</h3>
              <ul class="contact-info">
                <li><i class="fas fa-map-marker"></i>P.O. Box 5555 <br> CHICAGO IL 60601</li>
                <li><i class="fas fa-phone-square"></i>+ 555 123 4567</li>
                <li><i class="fas fa-envelope"></i><a href="#">contact@scoopbar.com</a></li>
                <li><i class="fas fa-globe"></i><a href="#">www.scoopbar.com</a></li>
              </ul>
            </div>
            <div class="col-md-4 animate-box">
              <h3 class="section-title">Drop us a line</h3>
              <form class="contact-form">
                <div class="form-group">
                  <label for="name" class="sr-only">Name</label>
                  <input type="name" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="message" class="sr-only">Message</label>
                  <textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
                </div>
              </form>
            </div>
          </div>
          <div class="row copy-right">
            <div class="col-md-6 col-md-offset-3 text-center">
              <p class="fh5co-social-icons">
                <a href="https://www.facebook.com/SquatWithScoop/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/scoop_bar/"><i class="fab fa-instagram"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>