<div id="fh5co-page">
    <div id="fh5co-header">
      <header id="fh5co-header-section">
        <div class="container">
          <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <h1 id="fh5co-logo"><a href="/"><img src="media/images/logo.png" alt="Scoop Bar"/></a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
              <ul class="sf-menu" id="fh5co-primary-menu">
                <li class="active">
                  <a href="/" target="_parent">Home</a>
                </li>
                <li>
                  <a class="hollow-button" href="https://www.kickstarter.com"  target="_parent">View on Kickstarter</a>
                </li>
                <li ng-click="scrollToElementById('fh5co-programs-section', 1000)"><a href="">About</a></li>
                <li ng-click="scrollToElementById('footer', 2000)"><a href="">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>   
    </div>
    <!-- end:fh5co-header -->
    <div class="fh5co-hero">
      <div class="fh5co-overlay"></div>
      <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url('media/images/hero1.png');">
        <div class="desc animate-box">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h2>Squat <strong>Cleaner</strong> <br> Squat <strong>Better</strong></h2>
                <p><span>The Scoop Bar allows for a more comfortable and ergonmic front and back squat.</span></p>
                <form class="contact-form">
                  <span><a class="btn btn-primary"  href="https://www.kickstarter.com">View on Kickstarter</a></span>
                  <span ng-click="scrollToElementById('fh5co-programs-section', 1000)"><a class="hollow-button" href="#">Learn More</a></span>
                </form>
              </div>
              <div class="col-md-6">
                <video
                  src="media/videos/scoopbar.mp4"
                  class="scoopbar-video"
                  poster="media/videos/scoopbar_poster.png"
                  play-on-click
                  controls
                ></video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-programs-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 item-image-container">
            <img class="item-image" src="media/images/scoopbar.png" alt="scoop bar item"/>
          </div>
          <div class="col-md-6">
            <div class="heading-section text-center animate-box">
              <h2>What is the Scoop Bar?</h2>
              <p class="pipe-padding text-left">
                &nbsp; &nbsp; &nbsp; &nbsp; The Scoop Bar is a solution to a problem. While the athlete spends a month or two working on his/her mobility they can be using the Scoop Bar to ensure a smooth training program. The gym goer whose mobility is impaired due to previous injuries is now able to workout with his/her peers without resorting to more unique methods that are less stable. 
              </p>
              <p class="text-left">
                &nbsp; &nbsp; &nbsp; &nbsp; The Scoop Bar is here to help. Whether it’s finally being able to front squat without dangerous adjustments or providing a different training stimulus for this age old exercise the Scoop Bar can help you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <div id="fh5co-programs-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="heading-section text-center animate-box">
              <h2>Who is the Scoop Bar for?</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 col-sm-6">
            <div class="program animate-box">
              <i class="fas fa-male who-is-icon"></i>
              <h3>People Like This</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="program animate-box">
              <i class="fas fa-male who-is-icon"></i>
              <h3>People Like That</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="program animate-box">
              <i class="fas fa-male who-is-icon"></i>
              <h3>Other Types of People</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div id="fh5co-team-section" class="fh5co-lightgray-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="heading-section text-center animate-box">
              <h2>Meet The Found and Inventor</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 col-sm-6">
            <div class="team-section-grid animate-box" style="background-image: url('media/images/cooper-squat.jpg');">
              <div class="overlay-section">
                <div class="desc">
                  <h3>Sean Cooper</h3>
                  <span>Inventor, Personal Trainer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-6">
            <p class="text-left">
              &nbsp; &nbsp; &nbsp; &nbsp; The Scoop Bar is a solution to a problem. I was an athlete in college where our coaches did a very good job of creating an airtight environment where words like “can’t” couldn’t reach our ears. As a result, when the strength coach said it was time to front squat you either dealt with the pain in your wrists until it went away or you figured out more creative ways of holding the bar. 
            </p>
            <p class="text-left">
              &nbsp; &nbsp; &nbsp; &nbsp; Fast forward a couple of years to when I started coaching myself. I have done general population coaching and athletic development and one thing I have noticed in both groups is the difficulty the front squat presents to anyone without fantastic upper body mobility. Now, sometimes the lack of mobility demonstrated is simply a case of the athlete not doing their post workout stretching.
            </p>

            <p class="text-left">
              &nbsp; &nbsp; &nbsp; &nbsp; Having trouble with the back squat? Too hard for you to get your hands on the bar? Rotator cuff injury? Don’t want to spend the money on a safety squat bar? The Scoop Bar can help! Spin it 180 degrees and now it can help you support the barbell for the back squat exercise! 
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-blog-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="heading-section animate-box">
                <h2>Testimonials</h2>
              </div>
            </div>
            <div class="col-md-12 col-md-offset-0">
              <div class="fh5co-blog animate-box">
                <div class="desc">
                  <h3>"I used to have a very difficult time doing back squats."</h3>
                  <span class="posted_by">By: Jenny Dwyer</span>
                  <p>I used to have a very difficult time doing back squats. My shoulders apparently aren’t very flexible. About 18 months ago, I used a prototype of the Scoop Bar and was able to get the hang of it and ended up really enjoying squatting. If you’re uneasy because of flexibility issues and/or injury, try the Scoop Bar! 🏋️‍♀️</p>
                </div> 
              </div>
            </div>
            <div class="col-md-12 col-md-offset-0">
              <div class="fh5co-blog animate-box">
                <div class="desc">
                  <h3>"Check these out!"</h3>
                  <span class="posted_by">By: Sara Swenson</span>
                  <p>Friends... Especially those who love SQUATS!  Check these out!  I was lucky enough to use the prototype of these with my front squats once upon a time and it was night and day.  I actually liked front squats because of this awesome Scoop Bar.  😀  (My front squat mobility was less than desired all on my own).  If interested, please like the SCOOP BAR page and follow along!</p>
                </div> 
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="heading-section animate-box">
                <h2 class="vis-hidden">Space</h2>
              </div>
            </div>

            <div class="col-md-12 col-md-offset-0">
              <div class="fh5co-blog animate-box">
                <div class="desc">
                  <h3>"When using the scoop bar, I didn't feel any pressure on my back..."</h3>
                  <span class="posted_by">By: Branden Gregory</span>
                  <p>My main concern with squatting is that I have a bad back. When using the scoop bar, I didn't feel any pressure on my back. I just felt my legs. </p>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 animate-box">
              <h3 class="section-title">About Us</h3>
              <p>We believe everyone deserves to feel the pain of leg day. This product lets allows you or your gym members the opportunity to better themselves.</p>
            </div>

            <div class="col-md-4 animate-box">
              <h3 class="section-title">Our Address</h3>
              <ul class="contact-info">
                <li><i class="fas fa-map-marker"></i>P.O. Box 5555 <br> CHICAGO IL 60601</li>
                <li><i class="fas fa-phone-square"></i>+ 555 123 4567</li>
                <li><i class="fas fa-envelope"></i><a href="#">contact@scoopbar.com</a></li>
                <li><i class="fas fa-globe"></i><a href="#">www.scoopbar.com</a></li>
              </ul>
            </div>
            <div class="col-md-4 animate-box">
              <h3 class="section-title">Drop us a line</h3>
              <form class="contact-form">
                <div class="form-group">
                  <label for="name" class="sr-only">Name</label>
                  <input type="name" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="message" class="sr-only">Message</label>
                  <textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
                </div>
              </form>
            </div>
          </div>
          <div class="row copy-right">
            <div class="col-md-6 col-md-offset-3 text-center">
              <p class="fh5co-social-icons">
                <a href="https://www.facebook.com/SquatWithScoop/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/scoop_bar/"><i class="fab fa-instagram"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>