<div id="fh5co-page">
    <div id="fh5co-header">
      <header id="fh5co-header-section">
        <div class="container">
          <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <h1 id="fh5co-logo"><a href="index.html">Scoop<span>bar</span></a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
              <ul class="sf-menu" id="fh5co-primary-menu">
                <li class="active">
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a class="hollow-button" href="schedule.html">Buy Now</a>
                </li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>   
    </div>
    <!-- end:fh5co-header -->
    <div class="fh5co-hero">
      <div class="fh5co-overlay"></div>
      <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url('https://static.pexels.com/photos/17840/pexels-photo.jpg');">
        <div class="desc animate-box">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <h2>Squat <strong>Cleaner</strong> <br> Squat <strong>Better</strong></h2>
                <p>The Scoop Bar allows for a more comfortable and ergonmic front and back squat.</p>
                <form class="contact-form">
                  <p><input type="email" class="form-control" id="email" placeholder="Email"></p>
                  <br>
                  <span><a class="btn btn-primary" href="#">Learn More</a></span>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>